<section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="{{img_path}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>